header .header__text {
  font-weight: 100;
  word-spacing: 5px;
  margin: 20px 0;
  color: #fff;
  text-align: center;
}
header .header__text--title {
  font-size: 5rem;
}
header .header__text--subtitle {
  font-size: 2.5rem;
}

@font-face {
  font-family: "ARCADECLASSIC";
  src: url(../fonts/arcadeclassic/ARCADECLASSIC.TTF) format("truetype");
}
* {
  font-family: "ARCADECLASSIC";
}

body {
  background: url("../images/background.png");
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
main .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .main__container--left {
  padding: 0 50px;
}
main .main__container--left .main__buttons-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .main__container--left .main__buttons-container input[type=color] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px auto;
}
main .main__container--left .main__buttons-container input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
main .main__container--left .main__buttons-container input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}
main .main__container--left .main__buttons-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0rem, hsl(0deg, 65%, 52%)), color-stop(0.25rem, hsl(0deg, 65%, 52%)), color-stop(0.25rem, transparent), color-stop(transparent), to(hsl(0deg, 85%, 32%))), -webkit-gradient(linear, left top, right top, color-stop(0rem, hsl(0deg, 65%, 52%)), color-stop(0.25rem, hsl(0deg, 65%, 52%)), color-stop(0.25rem, transparent), color-stop(transparent), to(hsl(0deg, 85%, 32%))), hsl(0deg, 75%, 42%);
  background: linear-gradient(180deg, hsl(0deg, 65%, 52%) 0rem, hsl(0deg, 65%, 52%) 0.25rem, transparent 0.25rem, transparent calc(100% - 0.25rem), hsl(0deg, 85%, 32%) calc(100% - 0.25rem)), linear-gradient(90deg, hsl(0deg, 65%, 52%) 0rem, hsl(0deg, 65%, 52%) 0.25rem, transparent 0.25rem, transparent calc(100% - 0.25rem), hsl(0deg, 85%, 32%) calc(100% - 0.25rem)), hsl(0deg, 75%, 42%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  border: 0.125rem solid #000;
  width: 100%;
  height: 50px;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .main__container--left .main__buttons-container .btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0rem, hsl(0deg, 90%, 27%)), color-stop(0.25rem, hsl(0deg, 90%, 27%)), color-stop(0.25rem, transparent), color-stop(transparent), to(hsl(0deg, 70%, 47%))), -webkit-gradient(linear, left top, right top, color-stop(0rem, hsl(0deg, 90%, 27%)), color-stop(0.25rem, hsl(0deg, 90%, 27%)), color-stop(0.25rem, transparent), color-stop(transparent), to(hsl(0deg, 70%, 47%))), hsl(0deg, 80%, 37%);
  background: linear-gradient(180deg, hsl(0deg, 90%, 27%) 0rem, hsl(0deg, 90%, 27%) 0.25rem, transparent 0.25rem, transparent calc(100% - 0.25rem), hsl(0deg, 70%, 47%) calc(100% - 0.25rem)), linear-gradient(90deg, hsl(0deg, 90%, 27%) 0rem, hsl(0deg, 90%, 27%) 0.25rem, transparent 0.25rem, transparent calc(100% - 0.25rem), hsl(0deg, 70%, 47%) calc(100% - 0.25rem)), hsl(0deg, 80%, 37%);
  padding: 3px 0 0 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .main__container--left .main__buttons-container .btn-size {
  width: 75px;
}
main .main__container--left .main__buttons-container .slider-text {
  color: #fff;
}
main .main__container--right .grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: #000;
  border: 5px solid #fff;
  color: #fff;
}
main .main__container--right .grid-container .cell {
  background-color: #fff;
  border: 1px solid;
}
main .main__container--right .instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 15px;
  height: 570px;
}
main .main__container--right .instructions .instructions__title {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 2rem;
  word-spacing: 10px;
  margin: 0;
}