@import "_var.scss";
@import "_header.scss";

@font-face {
  font-family: "ARCADECLASSIC";
  src: url(../fonts/arcadeclassic/ARCADECLASSIC.TTF) format("truetype");
}

* {
  font-family: "ARCADECLASSIC";
}

body {
  background: url("../images/background.png");
}

@mixin flex {
  display: flex;
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: column;

    .main__container {
      flex-direction: row;
    }
    .main__container--left {
      align-items: center;
      justify-content: center;
    }
    .main__buttons-container {
      width: 75%;
    }
    .main__buttons-container > input[type="color"] {
      width: 100px;
      height: 100px;
      margin: 5px 35%;
    }
    .btn {
      width: 25%;
    }
    .main__container--right {
      justify-content: center;
    }
    .grid-container {
      width: 450px;
      height: 450px;
    }
  }
}

main {
  @include flex;
  justify-content: center;
  transform: translateY(25%);
}
.main__container {
  @include flex;
}

.main__buttons-container {
  align-items: flex-start;
  justify-content: center;
  width: 150px;
  flex-wrap: wrap;
  flex-direction: row;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px auto;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}

.btn {
  @include flex;
  background: $button-background;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 0.125rem solid #000;
  width: 100%;
  height: 50px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;

  &:hover {
    background: $button-background--clicked;
    padding: 3px 0 0 3px;
    user-select: none;
  }
}
.btn-size {
  width: 75px;
}
.slider-text {
  color: #fff;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: #000;
  border: 5px solid #fff;
  color: #fff;
}
.cell {
  background-color: #fff;
  border: 1px solid;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
  height: 570px;
}
.instructions__title {
  align-self: center;
  font-size: 2rem;
  word-spacing: 10px;
  margin: 0;
}
